@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@coreui/coreui/scss/coreui.scss';

.c-sidebar-nav-link:hover {
  color: #fff;
  background: #eb7d46 !important;
}

.lgn {
  border-color: #eb7d46 !important;
  background-color: #eb7d46 !important;
}

.lgn-back {
  background-color: #eb7d46 !important;
}

.prod-pref {
  height: 40px;
}

.btn-outline-primary {
  color: #eb7d46 !important;
  border-color: #eb7d46 !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  border-color: #eb7d46 !important;
  background-color: #eb7d46 !important;
}

.page-item.active .page-link {
  color: #fff !important;
  border-color: #eb7d46 !important;
  background-color: #eb7d46 !important;
}

.page-link {
  color: #eb7d46 !important;
}

.card-header-actions a {
  color: #eb7d46 !important;
}

.table a {
  color: #eb7d46 !important;
}